<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Projeto</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="~/css/_Layout.css"/>
</head>
<body>
    <main class = "fundo">
        <div id = "barraSuperior">
            <a role = "button" id = "botaoHome" asp-action = "Index" asp-controller = "Interface">
                <i class = "bi bi-house-fill" id = "homeIcon"></i>
            </a>
            <a role = "button" id = "botaoPerfil" asp-action = "VerPerfil" asp-controller = "Interface">
                <i class="bi bi-person-circle fa-3x" id = "perfilIcon"></i>
            </a>
            <a role = "button" id = "botaoConsultar" asp-action= "ConsultarClientes" asp-controller = "Interface">
                <i class="bi bi-search fa-3x" id = "consultarIcon"></i>
            </a>
            <a role = "button" id = "botaoConfiguracao" asp-action = "VerConfiguracoes" asp-controller = "Interface"> 
                <i class="bi bi-gear-fill fa-3x" id = "configuracaoIcon"></i>                
            </a>
            <a role = "button" id = "botaoClientes" asp-action = "VerClientes" asp-controller = "Interface">
                <i class="bi bi-people-fill fa-3x" id = "clientesIcon"></i>
            </a>
        </div>
            @RenderBody()
    </main>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
