

@{
    ViewData["Title"] = "Espaço Car";
}

<head>
<link href="~/css/Index.css" rel="stylesheet" />
<script src="~/js/Index.js"></script>
</head>

<div id = "ListaClientePFDiv">
    <partial name = "~/Views/Interface/ListaClientePF.cshtml" model = "@ViewBag.ListaClientePF"/>
</div>

<div id = "ListaClientePJDiv">
    <partial name = "~/Views/Interface/ListaClientePJ.cshtml" model = "@ViewBag.ListaClientePJ"/>
</div>


