
@{
    ViewData["Title"] = "Espaço Car";
}


<link href="~/css/Index.css" rel="stylesheet" />
<script src="~/js/Index.js"></script>


<div id = "ListaClientePFDiv" class = "p-5">
    <partial name = "~/Views/Interface/ListaClientePF.cshtml" model = "@ViewBag.ListaClientePF"/>
</div>

<div class = "container align-items-center visually-hidden" id = "ListaClientePJDiv">
    <partial name = "~/Views/Interface/ListaClientePJ.cshtml" model = "@ViewBag.ListaClientePJ"/>
</div>


