html[b-d7k6ud5z5p] {
    background-color: darkgray;
    width: 100vw;
    height: 100vh;
    z-index: 11;
}

body[b-d7k6ud5z5p] {
    background-color: transparent;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    margin: 0px;
}

.fundo[b-d7k6ud5z5p] {
    background-color: darkgray;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 9;
}

#barraLateralEsquerda[b-d7k6ud5z5p] {
    background-color: rgb(61, 61, 61);
    position: fixed;
    left: 0%;
    width: 3vw;
    height: 100vh;
    transition: 0.3s;
}

    #barraLateralEsquerda:hover[b-d7k6ud5z5p] {
        width: 10vw;
        transition: 0.3s;
        background-color: rgb(95, 95, 95);
    }

#botaoPerfil[b-d7k6ud5z5p] {
    position: fixed;
    background-color: transparent;
    border-color: transparent;
    outline: none;
    cursor: pointer;
    width: 3vw;
    height: 5vh;
    top: 0%;
}

#botaoConsultar[b-d7k6ud5z5p] {
    position: fixed;
    background-color: transparent;
    border-color: transparent;
    outline: none;
    cursor: pointer;
    width: 3vw;
    height: 5vh;
    top: 7.5%;
}

#botaoConfiguracao[b-d7k6ud5z5p] {
    position: fixed;
    background-color: transparent;
    border-color: transparent;
    outline: none;
    cursor: pointer;
    width: 3vw;
    height: 5vh;
    top: 15%
}

#perfilSVG[b-d7k6ud5z5p], #consultarSVG[b-d7k6ud5z5p], #engrenagemSVG[b-d7k6ud5z5p] {
    position: relative;
    background-color: transparent;
    border-color: transparent;
    outline: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition: 0.3s;
}

    #perfilSVG:hover[b-d7k6ud5z5p], #consultarSVG:hover[b-d7k6ud5z5p], #engrenagemSVG:hover[b-d7k6ud5z5p] {
        color: rgb(255, 255, 255);
        transition: 0.3s;
    }

#perfilLabel[b-d7k6ud5z5p] {
    position: fixed;
    font-size: 80%;
    font-weight: bolder;
    font-family: cursive;
    top: 1.3%;
    left: 3%;
    transition: 0.3s;
}

    #perfilLabel:hover[b-d7k6ud5z5p], #consultarLabel:hover[b-d7k6ud5z5p], #configuracaoLabel:hover[b-d7k6ud5z5p] {
        color: rgb(255, 255, 255);
        transition: 0.3s;
    }

#consultarLabel[b-d7k6ud5z5p] {
    position: fixed;
    font-size: 80%;
    font-weight: bolder;
    font-family: cursive;
    top: 9%;
    left: 3%;
    transition: 0.3s;
}

#configuracaoLabel[b-d7k6ud5z5p] {
    position: fixed;
    font-size: 80%;
    font-weight: bolder;
    font-family: cursive;
    top: 16.3%;
    left: 3%;
    transition: 0.3s;
}
