html {
    width: 100vw;
    height: 100vh;
    z-index: 11;
}

body {
    background-color: transparent;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    margin: 0px;
}

.fundo {
    background-color: lightgray;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 9;
}

#barraSuperior {
    background-color: rgb(101, 101, 101);
    position: fixed;
    left: 0%;
    width: 100vw;
    height: 6vh;
    transition: 0.3s;
}

    #barraSuperior:hover {
        height: 7vw;
        transition: 0.3s;
        background-color: rgb(115, 115, 115);
    }
@media only screen and (max-height: 900px) {

    #botaoPerfil {
        position: fixed;
        cursor: default;
        outline: none;
        width: 4vw;
        height: 6vh;
        top: 0vh;
        right: 4vw;
        color: black !important;
    }

    #botaoConsultar {
        position: fixed;
        cursor: default;
        outline: none;
        width: 4vw;
        height: 6vh;
        top: 0vh;
        left: 6vw;
        color: black !important;
    }

    #botaoConfiguracao {
        position: fixed;
        cursor: default;
        outline: none;
        width: 4vw;
        height: 6vh;
        top: 0vh;
        right: 0.5vw;
        color: black !important;
    }

    #botaoClientes {
        position: fixed;
        cursor: default;
        outline: none;
        width: 4vw;
        height: 6vh;
        top: -0.2vh;
        left: 3vw;
        color: black !important;
    }

    #botaoHome{
    position: fixed;
    cursor: default;
    outline: none;
    width: 4vw;
    height: 6vh;
    top: 0.1vh;
    left:-0.5vw;
    color: black !important;
}

    #clientesIcon {
        top: 8px !important;
    }

    #perfilIcon, #homeIcon , #consultarIcon, #configuracaoIcon, #clientesIcon {
        position: absolute;
        background-color: transparent !important;
        border-color: transparent;
        outline: none;
        cursor: pointer;
        font-size: 170%;
        transition: 0.3s;
        line-height: 12px;
        text-align: center;
        transition: 0.3s;
        left: 18px;
        top: 5px;
    }

        #perfilIcon:hover, #homeIcon:hover, #consultarIcon:hover, #configuracaoIcon:hover, #clientesIcon:hover {
            color: rgb(255, 255, 255);
            transition: 0.3s;
        }

}