@import url('file:///C:\Users\leonardo.mathias\Desktop\Leonardo\C#\EspacoCar-main\wwwroot\css\Auth.css');
body {
    position: relative;
    background-color: transparent;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    margin: 0px;
}

.fundo {
    background-color: darkgray;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 9;
}

.itensLogin {
    position: relative;
    border-radius: 5%;
    background-color: gray;
    left: 37.5%;
    top: 25%;
    width: 25vw;
    height: 50%;
    z-index: 8;
    padding: 0%;
}

.iconeDiv {
    position: absolute;
    z-index: 7;
    width: 75%;
    height: 75%;
    top: 0%;
    margin: 0%;
    left: 12.5%;
}

img.icone {
    z-index: 6;
    position: absolute;
    width: 90%;
    height: 90%;
    left: 5%;
    top: 2%;
}

img.titulo {
    z-index: 6;
    position: absolute;
    left: 20%;
    width: 60%;
    height: 10%;
    top: 83%;
}

#fundoVerSenha {
    background-color: darkgray;
    position: absolute;
    border: 0.1vw solid;
    border-radius: 2%;
    border-color: darkgray;
    width: 12%;
    height: 25%;
    z-index: 6;
    margin: 0%;
    top: 30%;
    left: 60%;
}

#fundoEsconderSenha {
    background-color: darkgray;
    position: absolute;
    border: 0.1vw solid;
    border-radius: 2%;
    border-color: darkgray;
    z-index: 6;
    width: 12%;
    height: 25%;
    z-index: 6;
    margin: 0%;
    top: 30%;
    left: 60%;
    display: none;
}

#login {
    background-color: darkgray;
    position: absolute;
    border: 0.1vw solid;
    border-radius: 2%;
    border-color: darkgray;
    width: 50%;
    height: 25%;
    z-index: 6;
    margin: 0%;
    top: 30%;
    left: 10%;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#login:focus {
        outline: none;
    }
#login::placeholder {
        color: white;
        font-size: 100%;
        font-family: Calibri;
    }
#login:focus::placeholder {
        color: transparent;
    }

#inputsLogin{
    position: relative;
    left: 20%;
    top: 70%;
    width: 60%;
    height: 20%;
}

#botaoLogin {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    position: absolute;
    width: 15%;
    height: 42%;
    top: 25%;
    left: 80%;
}
#botaoLoginImagem {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
}

#senha {
    background-color: darkgray;
    position: absolute;
    border: 0.1vw solid;
    border-radius: 2%;
    border-color: darkgray;
    width: 50%;
    height: 25%;
    z-index: 6;
    margin: 0%;
    top: 30%;
    left: 10%;
    color: black;
    font-family: Calibri;
    display:none;
}
#senha:focus {
        outline: none;
    }
#senha::placeholder {
        color: white;
        font-size: 100%;
    }
#senha:focus::placeholder {
        color: transparent;
    }

@media only screen and (min-height: 901px) {
    #botaoVerSenha {
        background-color: transparent;
        border-color: transparent;
        z-index: 6;
        position: relative;
        left: 63%;
        top: 23%;
        height: 25%;
        width: 10%;
        cursor: pointer;
        display: none;
        transition: 0.3s;
    }


    #botaoVerSenhaImagem {
        position: absolute;
        z-index: 7;
        height: 100%;
        top: 0%;
        left: 0%;
    }

    #botaoEsconderSenhaImagem {
        position: absolute;
        z-index: 7;
        height: 100%;
        top: 0%;
        left: 0%;
        display: none;
    }
}
@media only screen and (max-height: 900px) {
    #botaoVerSenha {
        background-color: transparent;
        border-color: transparent;
        z-index: 6;
        position: relative;
        left: 62%;
        top: 7%;
        height: 25%;
        width: 10%;
        cursor: pointer;
        display: none;
        transition: 0.3s;
    }


    #botaoVerSenhaImagem {
        position: absolute;
        z-index: 7;
        height: 100%;
        top: 0%;
        left: 0%;
    }

    #botaoEsconderSenhaImagem {
        position: absolute;
        z-index: 7;
        height: 100%;
        top: 0%;
        left: 0%;
        display: none;
    }
}

#botaoSenha {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    position: absolute;
    width: 15%;
    height: 42%;
    top: 25%;
    left: 80%;
    display: none;
}

#botaoSenhaImagem {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
}

#botaoCancelar {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    position: absolute;
    width: 20%;
    height: 38%;
    top: 27%;
    left: 90%;
    display:none;
}
#botaoCancelarImagem {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
}

.font-family {
    height: 23% !important;
    width: 70% !important;
    font-family: Calibri !important;
    font-size: 14px !important;
    color: black !important;
    text-align: center;
    display: flex !important;
    flex-wrap: wrap !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-content: center !important;
}

.swal2-actions{
    flex-wrap: nowrap !important;
    flex-direction: column !important;
}

#swal2.title{
    left: 1.6% !important;
}
.swal2-popup.swal2-toast .swal2-icon{
    left: 1.6% !important;
}
