@media only screen and (max-height: 900px) {
    #cards {
        position: absolute;
        width: 60vw;
        height: 50vh;
        left: 18vw;
        top: 25vh;
    }

    #primeiroCard {
        position: absolute;
        display: inline-block;
        width: 30%;
        height: 90%;
        top: 5%;
        left: 0%;
        border: 0.5vw solid gray;
        border-radius: 3%;
    }

    #informacoesPrimeiroCard {
        margin: 0.3vw;
        width: 95%;
        height: 97%;
    }

    #primeiroCardImagem {
        position: absolute;
        width: 80%;
        height: 60%;
        left: 10%;
        border: 0.1vw solid gray;
        border-radius: 3%;
    }

    #listaPrimeiroCard {
        position: absolute;
        top: 63%;
        left: -7.5%;
        font-size: 15px;
        width: 100%;
    }

    #cardsMenores {
        position: absolute;
        display: inline-block;
        top: 5%;
        left: 32%;
        width: 80%;
        height: 90%;
    }

    #segundoCard, #terceiroCard, #quartoCard, #quintoCard {
        display: inline-flex;
        width: 47%;
        height: 45%;
        top: 7%;
        left: 40%;
        border: 0.5vw solid gray;
        border-radius: 3%;
        margin: 1%;
    }

    #informacoesSegundoCard, #informacoesQuartoCard {
        margin: 0.1vw;
        width: 97%;
        height: 97%;
    }

    #segundoCardImagem, #quartoCardImagem {
        position: absolute;
        width: 20%;
        height: 39%;
        left: 3%;
        border: 0.1vw solid gray;
        border-radius: 3%;
    }

    #listaSegundoCard, #listaQuartoCard {
        font-size: 12px;
        position: absolute;
        left: 19%;
        line-height: 26px;
    }

    #informacoesTerceiroCard, #informacoesQuintoCard {
        margin: 0.1vw;
        width: 97%;
        height: 97%
    }

    #terceiroCardImagem, #quintoCardImagem {
        position: absolute;
        width: 20%;
        height: 39%;
        left: 52.8%;
        border: 0.1vw solid gray;
        border-radius: 3%;
    }

    #listaTerceiroCard, #listaQuintoCard {
        font-size: 12px;
        position: absolute;
        left: 69%;
        line-height: 26px;
    }
}
