#clientes {
    position: absolute;
    width: 80vw;
    height: 70vh;
    left: 10vw;
    top: 17vh;
    border: 1px solid black;
}

#listaClientes {
    position: absolute;
    width: 50vw;
    height: 60vh;
    right: 2.3vw;
    top: 4.7vh;
    border: 1px solid black;
}

#clientesInformacoes{
    display: block;
}

#novoClienteInformacoes{
    display: flex;
    flex-flow: row wrap;
}

#novoClienteInformacoesForm{
    position: absolute;
    width: 27.5vw;
    height: 69.5vh;
}

input{
    width: 33%;
    height: 50%; 
}
label{
    font-size: 90%;
    width: 15%;
}


